/*===== CONFIRMATION =====*/
.confirmation{
    width: 100%;
    height: 600px;
    background: url('../assets/fondo_tree.jpg') center / cover no-repeat;
    position: absolute;
    z-index: 55;
    top: 7025px;
    display: flex;
    justify-content: center;
    align-items: center;
}




/*--- CONFIRMATION CONTAINER ---*/
.confirmation__container{
    width: 90%;
    height: 570px;
}



/*----- CONFIRMATION TITTLE CONTENT ------*/
.confirmation__tittle-container{
    width: 100%;
    height: auto;
    text-align: center;
    color: #000;
    padding-top: 340px;
}

.confirmation__tittle{
    font-size: 27px;
    font-family: 'Pridi';
}




/*----- CONFIRMATION LINKS CONTENT -----*/
.confirmation__links-container{
    width: 100%;
    height: 400px;
    margin-top: -95px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}



/*----- CONFIRMATION LINK USER -----*/
.link__user{
    display: flex;
    background: #444c97;
    padding: 15px 20px;
    border-radius: 30px;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-family: sans-serif;
}


.whats__icon{
    font-size: 45px;
}