/*===== COUNTDOWN =====*/
.contdown__container{
    width: 85%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #5869ff;
    font-family: 'system-ui';
    animation: rigth linear both;
    animation-timeline: view();
    animation-range: entry 1% cover 30%;
}


/*-- COUNTDOWN TITTLE CONTENT --*/
.countdown__tittle-container{
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.countdown__tittle{
    font-size: 30px;
    font-family: 'Libre Baskerville';
}


/*-- COUNTDOWN CONTENT --*/
.countdown__content{
    display: flex;
    text-align: center;
    gap: 22px;
    padding-top: 10px;
}

.count_time{
    font-size: 30px;
    font-family: 'Source Serif 4';
}

.count_text{
    font-size: 17px;
    font-weight: 600;
}