/*===== DRESSCODE =====*/
.dresscode{
    width: 100%;
    height: 600px;
    background: url('../assets/ice_bg.jpg') center / cover no-repeat;
    position: absolute;
    z-index: 55;
    top: 5875px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}



/*----- DRESSCODE CONTAINER -----*/
.dresscode__container{
    width: 90%;
    height: 570px;
}



/*----- DRESSCOODE TITTLE CONTENT ------*/
.dresscode__tittle-container{
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 30px;
}


.dresscode__tittle{
    font-size: 27px;
    color: #000;
    font-family: 'Pridi';
}




/*------ DRESSCODE CONTENT ------*/
.dresscode__content{
    width: 100%;
    height: 470px;
    margin-top: 20px;
}





/*-- DRESCODE IMAGE CONTENT --*/
.dresscode__image-container{
    width: 90%;
    height: 310px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.dresscode__image{
    width: 300px;
}



/*---- DRESSCODE SUBTITTLE CONTENT ----*/
.dresscode__subtittle-container{
    width: 90%;
    height: auto;
    margin: auto;
    text-align: center;
    padding: 30px 0 20px 0;
}

.dresscode__subtittle{
    font-family: 'VolKhov';
    font-size: 25px;
}








/*---- DRESCODE TEXT CONTENT -----*/
.dresscode__text-container{
    width: 90%;
    height: auto;
    margin: auto;
    text-align: center;
}

.dresscode__text{
    font-family: system-ui;
    font-weight: 800;
    font-size: 18px;
    color: rgb(151, 8, 8);
    font-style: italic;
}