/*===== GIFTABLE =====*/
.giftable{
    width: 100%;
    height: 550px;
    position: absolute;
    background: url('../assets/ice_bg.jpg') center / cover no-repeat;
    top: 6565px;
    z-index: 55;
    display: flex;
    justify-content: center;
    align-items: center;
}



/*----- GIFTABLE CONTAINER ------*/
.giftable__container{
    width: 90%;
    height: 570px;
}



/*----- GIFTABLE TITTLE CONTAINER ------*/
.giftable__tittle-container{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 70px 0 0 0;
    color: #000;
}

.giftable__tittle{
    font-size: 28px;
    font-family: 'Pridi';
}






/*----- GIFTABLE LOGOS CONTENT -----*/
.giftable__logos-container{
    width: 100%;
    height: 300px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}


/*-- LIVERPOOL LINK CONTENT --*/
.liverpool__link,
.sears__link{
    width: 225px;
    height: 95px;
    background: rgb(255, 0, 128);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    color: #fff;
    font-size: 27px;
    font-family: sans-serif;
    border-radius: 20px;
}

.sears__link{
    background: rgb(233, 13, 13) ;
}


.liverpool__image{
    width: 65px;
}

.sears__image{
    width: 170px;
}




/*---- GIFTABLE TEXT CONTAINER -----*/
.giftable__text-container{
    width: 90%;
    height: auto;
    margin: auto;
    text-align: center;
    color: #000;
    margin-top: 40px;
}


.giftable__text{
    font-family: 'Nanum Myeongjo';
    font-weight: 800;
    font-size: 20px;
}