/*===== ITINERARIO =====*/
.itinerario{
    width: 100%;
    height: 700px;
    position: absolute;
    background: rgba(255, 0, 0, 0.336);
    top: 5485px;
    z-index: 60;
    display: flex;
    justify-content: center;
    align-items: center;
}




/*----- ITINERARIO CONTAINER -----*/
.itinerario__container{
    width: 90%;
    height: 670px;
    background: rgba(0, 162, 255, 0.37);
}



/*----- ITINERARIO TITTLE CONTENT -----*/
.itinerario__tittle-container{
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 30px;
}

.itinerario__tittle{
    font-size: 30px;
    font-family: sans-serif;
    color: #fff;
}




/*----- ITINERARIO CONTENT -----*/
.itinerario__content{
    width: 100%;
    height: 550px;
    background: rgba(128, 0, 128, 0.281);
    margin-top: 30px;
    position: relative;
}




/*----- ITINERIO LINE -----*/
.itinerario__line{
    width: 4px;
    height: 470px;
    background: #000;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

}



/*----- COPO SVG ------*/
svg,
svg:nth-child(1){
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 90px;
    padding: 3px;
    position: absolute;
    left: -21px;
    top: -11px;
}


.salon{
    top: 100px;
}

.soup{
    top:220px;
}

.bailarina,
.dance{
    width: 50px;
    height: 50px;
    position: absolute;
    background: #fff;
    border-radius: 90px;
    padding: 3px;
    left: -21px;
    top: 335px;
}

.dance{
    top: 450px;
}


/*-- ICON TEXT CONTNT ---*/

.icons__text,
.text__cena{
    position: absolute;
    left: -140px;
    top: -15px;
    text-align: center;
    font-family: 30px;
}


.iglesia__text,
.reception__text,
.cena__text,
.vals__text,
.baile__text{
    font-size: 20px;
    color: #fff;
}


.text__reception,
.text__vals{
    left: 70px;
    top: 100px;
}

.text__cena{
    top: 230px;
}

.text__vals{
    top: 330px;
    left: 92px;
}

.text__baile{
    top: 449px;
}