/*===== PARENTS =====*/
.parents{
    width: 100%;
    height:890px;
    background: url('../assets/fondo_two.jpg') center / cover no-repeat;
    position: absolute;
    z-index: 55;
    top: 2685px;
    display: flex;
    justify-content: center;
    align-items: center;
}




/*----- PARENTS CONTAINER -----*/
.parents__container{
    width: 90%;
    height: 95%;
    border: 3px solid rgba(172, 156, 16, 0.993);
    text-align: center;
    color: rgba(46, 45, 1, 0.993);

}


/*-- PARENTS PHRASE ONE CONTENT --*/
.parents__phrase-one-container{
  padding: 80px 0 30px 0;
}

.parents__phrase-one{
  font-size: 35px;
  font-weight: 600;
  font-family: 'Parisienne';
  line-height: 35px;
}




/*-- PARENTS PADRES CONTENT --*/
.parents__padres-container{
    padding: 40px 0;
}

.padres__tittle,
.padrinos__tittle{
    font-family: 'VolKhov';
    font-size: 25px;
}


.parents__padres,
.parents__padrinos{
    font-size: 23px;
    padding-top: 10px;
}


/*-- PARENTS PADRINOS CONTENT --*/
.parents__padrinos-container{
    padding: 40px 0;
}




/*--PARENTS PHRASE TWO CONTENT --*/
.parents__phrase-two-container{
    padding-top: 50px;
}

.parents__phrase-two{
  font-size: 35px;
  font-weight: 600;
  font-family: 'Parisienne';
  line-height: 35px;
}




















