/*===== PERGAMINO =====*/
.pergamino{
    width: 100%;
    height: 700px;
    background: url('../assets/ice_bg.jpg') center / cover no-repeat;
    position: relative;
    z-index: 50;
    top: 655px;
    overflow: hidden;
}



/*----- PERGAMINO CONTAINER -----*/
.pergamino__container{
  width: 330px;
  height: 650px;
  top: 50px;
  right: 0;
  left: 0;
  margin: auto;
  position: absolute;
  z-index: 50;
}

.pergamino__img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: drop-shadow(10px 10px 13px #000);
}




/*----- PERGAMINO TEXT CONTENT -----*/
.pergamino__text-container{
    position: absolute;
    top: 180px;
    right: 60px;
    z-index: 55;
    text-align: center;
}

.pergamino__text{
    font-size: 26px;
    font-family:'Parisienne';
    font-weight: 600;
}





/*----- ELSA IMG CONTENT -----*/
.elsa__img{
    position: absolute;
    z-index: 60;
    width: 420px;
    bottom: -110px;
    right: -10px;
    filter: drop-shadow(5px 7px 10px #000);
}




