/*===== PHRASE =====*/
.phrase{
    width: 100%;
    height: 700px;
    background: url('../assets/phrase_bg.jpg') center / cover no-repeat;
    position: absolute;
    z-index: 60;
    top: 7625px;
    display: flex;
    justify-content: center;
    align-items: center;

}


/*-- PHRASE CONTAINER --*/
.phrase__container{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.phrase__final{
    font-family: 'Parisienne';
    font-size: 40px;
}