/*===== UBICATION =====*/
.ubication{
    width: 100%;
    height: auto;
    position: relative;
    z-index: 55;
    top: 1975px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../assets/fondo_four.jpeg') center / cover no-repeat;
}


/*----- UBICATION CONTAINER -----*/
.ubication__container{
    width: 90%;
    height: 1600px;
}




/*----- UBICATION TITTLE CONTENT -----*/
.ubication__tittle-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 35px 0 30px;
}

.ubication__tittle{
    font-size: 30px;
    font-family: 'Pridi';
    font-weight: 600;
}



/*----- UBICATION CARDS CONTENT -----*/
.ubication__cards-container{
    width: 90%;
    height: 585px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 70px;
}